node_modules
.DS_Store
Thumbs.db
.vscode

// https://www.figma.com/file/Yo8m2rXe3OLqcAWZ3sOck9/%E5%85%AD%E8%A7%92_%E8%BB%9F%E9%AB%94?type=design&node-id=174-1599&t=LkFEA7ffd8UD8RRx-0
// https://github.com/hexschool/2022-web-layout-training/tree/main/2023web-camp