.swiper {
  .swiper-slide {
    height: auto!important;
  }
  &.filterWrap {
    .swiper-slide {
      width: auto!important;
    }
  }
  .swiper-pagination {
    pointer-events: all!important;
  }
}
